body {
  background-color: #e2dab5;
  width: 100%; }

/* Homepage */
header {
  margin: 2% 0;
  padding: 2%;
  width: 100%;
  height: 30px;
  background-color: white; }

.myAlbum {
  text-align: center;
  font-style: comic, Arial, sans-serif;
  font-size: 30px;
  font-size: 30px;
  font-family: Arial, sans-serif;
  text-align: center; }

.container1, .container2 {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 2%; }

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6 {
  float: left;
  margin: 0 auto;
  padding: 0% 2%;
  text-align: center; }

/*page 2/albums*/
.page2 {
  width: 100%; }

h2 {
  text-align: center; }

.photo1, .photo2, .photo3, .photo4 {
  float: right;
  margin: 0 auto;
  padding: 2%; }

h3 {
  font-family: Arial;
  font-size: 12px; }

sidebar {
  float: left;
  width: 17%; }
